@import "color.variables";

.screen_container {
  z-index: 0;
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: back-color("dark");
  }
}

@keyframes fade{
  from { opacity: 0%; }
  to { opacity: 100%; }
}

.transiting {
  color: red;
  z-index: 1;
  animation: fade 2s both;
}
