@function fore-color($type: "dark") {
  $primary-color-table: (
    "dark": #333,
    "light": #FFF
  );

  @return map-get($primary-color-table, $type);
}

@function back-color($type: "dark") {
  $primary-color-table: (
    "dark": #353742,
    "light": #F5FEFF
  );

  @return map-get($primary-color-table, $type);
}

@mixin mask() {
  background-color: #0f0;
}

@mixin fore($type: "dark", $target: "color") {
  $target: fore-color($type);
}

@mixin back($type: "dark", $target: "background-color") {
  $target: back-color($type);
}
