@import "color.variables";

@mixin padding {
  padding: 1rem;
}

@mixin title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
  text-shadow: 0 0 10px back-color();
}

@mixin sub-title {
  @include title;
  font-size: 1.5rem;
}
