@import "../color.variables";
@import "../layout.variables";

.main_root {
  display: flex;

  width: 100%;
  height: auto;
}

.mask {
  @include mask();
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  @include back();
}

.card {
  @include back("light");
  @include padding;
  margin: 1em 1em 0;
  border-radius: 3px;

  &_content {
    border-bottom: 1px solid;
    border-color: back-color();
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;

    font-size: 1.2em;
  }

  &_detail {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
  }

  &_ident {
    font-family: "Roboto Mono", monospace;
  }

}
