body {
  margin: 0;
  font-family: Roboto, "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

code {
  font-family: "Roboto Mono", monospace;
}
